{{ define "title" }}{{ .Params.name }} {{ .Params.role }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "main" }}
<article>
<header>
    <figure data-mode="aspect-fit">
        <q-img loading="eager" :ratio="3/1" src="{{ .Params.background }}" alt="header photo" no-spinner>
            <template v-slot:loading>
                <q-skeleton class="fit" square></q-skeleton>
              </template>
              <template v-slot:error>
                  <div class="absolute-full flex flex-center bg-negative text-white">
                    Cannot load image
                  </div>
              </template>
              <div class="no-padding absolute-bottom bg-transparent">
                  <div class="q-layout-padding">
                    <q-item class="q-pa-none">
                        <q-item-section top avatar>
                            <q-avatar size="70px">
                                <img src="/icons/76.png">
                            </q-avatar>
                        </q-item-section>
                        <q-item-section top>
                        </q-item-section>
                      </q-item>
                </div>
              </div>
        </q-img>
    </figure>
    <h1 class="text-h4 text-weight-bolder q-ma-none">{{ .Params.name }}</h1>
</header>

<h2 class="sr-only">Bio</h2>
{{ .Content }}

<h2>Articles</h2>
{{ range .Data.Pages }}
    <div>{{.Title}}</div>
{{ end }}
</article>

{{ end }}