{{ define "title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "main" }}
<div class="fit row wrap justify-start items-start content-start">

{{ range .Pages }}
      <div class="col-6 col-md-6 q-pa-xs">
            <q-item href="{{.Permalink}}" class="shadow-2">
                  <q-item-section avatar>
                        <q-avatar>
                              <q-img src="{{ .Params.avatar | replaceRE "https://" "https://i0.wp.com/"}}?w=40" width="40px" height="40px" no-spinner alt="">
                                    <template v-slot:loading><q-skeleton class="fit" square></q-skeleton></template>
                                    <template v-slot:error><div class="absolute-full flex flex-center bg-negative text-white">Err</div></template>
                              </q-img>
                        </q-avatar>
                  </q-item-section>
          
                  <q-item-section>
                        <q-item-label>{{ .Params.name }}</q-item-label>
                  </q-item-section>
            </q-item>
      </div>
{{ end }}
</div>

{{ end }}