<!DOCTYPE html>
<html lang="ms" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=format-detection content="telephone=no">
    <meta name=msapplication-tap-highlight content=no>
    <meta name="googlebot" content="notranslate">
    <noscript><meta http-equiv="refresh" content="5; URL=https://browsehappy.com/"></noscript>
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/icons/192.png">
    <meta name="theme-color" content="#eee">
    <meta name="apple-mobile-web-app-status-bar" content="#eee">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/192.png">
    <link rel="icon" type="image/png" sizes="76x76" href="/icons/76x76.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/16.png">
    <link rel="icon" type=image/ico href="/favicon.ico">
    <link rel="mask-icon" href="/icons/icon.svg" color="#00B4FF">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/schema.html" .}}
    {{ partial "headstylevendor.html" . }}
    {{ partial "headstyleapp.html" . }}
    <link rel="preconnect" href="https://www.googletagmanager.com">
    <script defer src="/js/vendor.3iix.js" nonce="oYrfS15m4xZCHSTxc4XeSg"></script>
    <script defer src="/js/bootstrap.24j4.js" nonce="oYrfS15m4xZCHSTxc4XeSg"></script>
    <script defer src="/js/lang.27f1.js" nonce="oYrfS15m4xZCHSTxc4XeSg"></script>
    {{ $mainJs := resources.Get "js/app.js" | js.Build "app.js" | minify | fingerprint "md5" }}
    <script defer type="text/javascript" src="{{ $mainJs.RelPermalink }}" nonce="oYrfS15m4xZCHSTxc4XeSg"></script>
    <script defer src="https://www.googletagmanager.com/gtag/js?id=G-4W81EYMJLL" nonce="oYrfS15m4xZCHSTxc4XeSg"></script>
</head>
<body>
<noscript>This website requires javascript to be functional. Please enable your javascript or get latest compatible browser. You will be redirected to Browse Happy Website.</noscript>
<div id="q-app"></div>
<template id="tulatu">{{ block "main" . }}{{ end }}</template>
<template id="tulatukan">{{ block "sideleft" . }}{{ end }}</template>
</body>
</html>